#weather {background-color: yellow;}
#weather h1 {color: red;}
#weather p {color:aqua;}
#weather h2 {color:aliceblue;}
#weather .result {color:beige;}
#weather .result p {color:blue;}
#news {}
#news a{}
#news p{}
#news p span{}
#news .box{}
#news .box a{}
#news .box h2{}
#news .box p{}