#weather {background-color: blue;}
#weather h1 {color: red;}
#weather p {color:aqua;}
#weather h2 {color:black;}
#weather .result {color:black;}
#weather .result p {color:black;}
#news {background-color:burlywood;}
#news a{color:cadetblue;}
#news P{color:aquamarine;}
#news P span{color:black;}
#box {color:green;}
#box a{color:blueviolet;}
#box h2{color:brown;}
#box P{color:chartreuse;}