#wrap {
    background-color: black; 
    color:#fff;
    width:440px;
    height:956px;
    text-align:center; /* 자식,자손 inline 태그에 적용 */
}
#wrap h1{
    padding-top:270px;
    padding-bottom:293px;
}
#wrap h1 img{}
#wrap .btn_wrap{
    width:300px;
    /* 블록에 너비값을 부모보다 작게 설정했을때 블록을 가운데 정렬 하고 싶다면 */
    margin-left:auto;
    margin-right:auto;
    text-align: left;

}
#wrap .btn_wrap a {
    display:block; /* 블록의 너비는 부모의 너비 100%와 같다 */
    text-align:center;

}
#wrap .btn_wrap .login{
    height:40px;
    line-height:40px;
    background-color:#3B82F6;
    border-radius: 20px;
    font-size:0.875rem;
    font-weight:500;
    

}
#wrap .btn_wrap .sing_up{
    margin-bottom:16px;
    margin-top:16px;
    height:40px;
    line-height:40px;
    background-color: #3B82F6;
    /* border 선두께 선모양 선색상; */
    
    font-size:0.875rem;
    font-weight:500;
}
#wrap .btn_wrap .forgot_password{
    
    font-size:0.75rem;
    font-weight:400;
    display:inline;
}
#wrap .btn_wrap .forgot_password span{}
