#wrap {
    background-color: #000;
    width:440px;
    height:956px;
    padding-left:15px;
    padding-right:15px;
}
#wrap h1{
    font-size:2.5rem; /* 40px */
    font-weight:700; /* bold */
    padding-top: 163px;
    padding-bottom:30px;
}
#wrap > p{
    font-weight:500;

}

 /* #wrap 모든 자식 p */
#wrap h1+p{

    margin-bottom:76px;

    
    

} /* #wrap의 h1 옆에 p */
#wrap #join_membership{
    
    

}  
#wrap #join_membership h2{
    font-size:1.375rem;
    font-weight:600;
    margin-bottom:16px;
}   
#wrap #join_membership p{

}
#wrap #join_membership .user_in {margin-bottom: 38px;}
#wrap #join_membership .user_btn{}


#wrap #join_membership p input::placeholder{
    font-size: 0.875rem;
    font-weight:300;
}
#wrap #join_membership p input{
    border-radius: 20px;
    width:410px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border:1px solid #fff;

}
#wrap #join_membership p #login_btn{
    background-color: #3B82F6;
    width:410px;
    margin-bottom: 16px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size:0.875rem;
}
#wrap #join_membership p .google_login{
    background-color: #3B82F6;
    width:410px;
    display: block;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size:0.875rem;
}
#wrap #join_membership+p {
    text-align: center;
    font-size:0.75rem;
    letter-spacing: 0;
    margin-top:160px;
} /* #wrap의 join_membership 옆에 p */
#wrap #join_membership+p a {
    font-weight:600;
    
}