#wrap {
    background-color: #000;
    width:440px;
    height:956px;
    text-align: left;
    padding-left:15px;
    padding-right:15px;
}
#wrap h1{
    font-size:2.5rem;
    font-weight:600;
    letter-spacing: -0.02rem;
    line-height: 1;
    padding-top: 161px;
    padding-bottom:30px;
}
#wrap > p{
    

}

 /* #wrap 모든 자식 p */
#wrap h1+p{
    font-size:1rem;
    font-weight:500;
    letter-spacing: -0.02rem;
    line-height: 1;
    
    

} /* #wrap의 h1 옆에 p */
#wrap #join_membership{
    
    padding-top:76px;

}  
#wrap #join_membership h2{
    font-size:1.375rem;
    font-weight:600;
    letter-spacing: -0.02rem;
    line-height: 1;
    padding-bottom:98px;
    
}   
#wrap #join_membership p{
    font-size:0.875rem;
    font-weight:300;
    letter-spacing: -0.02rem;

    
   
}
#wrap #join_membership p input{
    font-size: 0.875rem;
    font-weight:300;
    letter-spacing: -0.02rem;
    line-height: 1;
    
    
   


}
#wrap #join_membership p #login_btn{
    background-color: #3B82F6;
    width:410px;
    margin-bottom: 16px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 20px;
    padding-right: 20px;



}
#wrap #join_membership p .google_login{
    background-color: #3B82F6;
    width:410px;
    display: block;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 20px;
    padding-right: 20px;
}
#wrap #join_membership+p {
    padding-top:160px;
    text-align: center;

} /* #wrap의 join_membership 옆에 p */
#wrap #join_membership+p a {
    font-size:
}